.skill_icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20%;
    grid-row-gap: 40px;
    text-align: center;
  }
  
  .skill_icon div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill_icon i {
    font-size: 3rem;
  }
  
  .skill_icon p {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  @media (max-width: 1000px) {
    .skill_icon {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .skill_icon {
      grid-template-columns: 1fr;
    }
  }