header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--third-color);
    padding: 0 40px;
    height: 60px;
  }
  
  .nav_bar {
    display: flex;
    justify-content: space-between;
  }
  
  .nav_items a {
    color: var(--main-color);
  }
  
  .nav_items a:hover {
    color: var(--Secondary-color);
  }
  
  .nav_items {
    margin-right: 50px;
  }